<form (ngSubmit)="onSubmit(todoForm)" #todoForm="ngForm">
    <div class="container mt-5">
        <h1>Add TO DO</h1>
        <div class="form-group">
            <label for="taskName">Task Name</label>
            <input 
                type="text" 
                class="form-control"
                id="taskName"
                name="taskName"
                ngModel
                required
                minlength=2
                #taskName="ngModel"
            >
            <div [hidden]="taskName.valid || taskName.pristine" class="alert alert-danger">
                Name is required
            </div>
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" id="category" class="form-control" ngModel #category="ngModel">
                <option *ngFor="let category of categories" [value]="category">{{category}}</option>             
            </select>
        </div>
        <br>
        <button
            type="submit"
            class="btn btn-success"
            [disabled]="!todoForm.form.valid"
        >
            Submit
        </button>
    </div>

    <div class="container mt-5">
        <div>List of task :</div>
        <li *ngFor="let item of tasks">{{item.task}} - {{item.category}}</li>
    </div>
</form>