<div class="row">
    <h2>List Product</h2>
    <div class="col-sm-4" *ngFor="let product of products">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <button class="btn btn-primary" [routerLink]="['/product-detail/', product.id]">
                    Check Product
                </button>
            </div>
        </div>
    </div>
</div>