<div class="row">
    <div class="col-sm-4" *ngFor="let product of products">
        <div class="card mb-3">
            <div class="card-body">
                <div class="card-title">{{product.name}}</div>
                <div class="card-text">{{product.description}}</div>
            </div>
        </div>
    </div>
</div>