<h1>Login Form</h1>

<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="container mt-5">
        <div class="form-group">
            <label for="username">Username</label>
            <input 
                type="text" 
                class="form-control"
                id="username"
                name="username"
                formControlName="username"
            >
            <span *ngIf="username && username.invalid" style="color: red">
                Input Username is Invalid
            </span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
                type="text" 
                class="form-control"
                id="password"
                name="password"
                formControlName="password"
            >
            <span *ngIf="password && password.invalid" style="color: red">
                Password is Invalid
            </span>
        </div>
        <br>
        <button type="submit" class="btn btn-success">
            Login
        </button>
        <br>
        <div *ngIf="currentUser.isLogin">
            Succesfully Logged in. Hello {{currentUser.username}} !
        </div>
    </div>
</form>